*, *::before, *::after {
    box-sizing: border-box;
    font-weight: normal;
}



body {
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}

.calculator{
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

    &__output{
        grid-column: 1 / -1;
        background-color: rgba(0, 0, 0, .75);
        display: flex;
        align-items: flex-end;
        justify-content: space-around;
        flex-direction: column;
        padding: 10px;
        word-wrap: break-word;
        word-break: break-all;

        &__previos-operand{
            color: rgba(255, 255, 255, .75);
            font-size: 1.5rem;

        }
    &__current-operand{
        font-size: 2.5rem;
        color: white;
    }
    }

    &__buttons {
        cursor: pointer;
        font-size: 2rem;
        border: 1px solid white;
        outline: none;
        background-color: rgba(255, 255, 255, .75);

        &:hover {
            background-color: rgba(255, 255, 255, .90);
            
        }
    &__all-clear {
        grid-column: span 2;
    } 
    &__del {
        color: red;
    }
    &__operator{
        color: blue;
    }
    &__number {
        color: yellow;
    }

    &__equals {
        grid-column: span 2;
    }  
    }
}